body
{
    margin: 0;
}
header
{
   position: absolute;
   background: none;
   display: flex;
   align-items: center; 
   justify-content: flex-start;
   padding: 1%;
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   font-family: "TildaSans","Arial, sans-serif";
   font-weight: normal;
}
header ul 
{
    margin-left: 10%;
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding: 0;
}
header li
{
    color: #353535;
    list-style-type: none;
    text-decoration: none;
    font-size: 2.5vh;
}
header a
{
    text-decoration-line: none;
    color: #000000;
}
.logo
{
    width: 20%;
}
header a img
{
    width: 100%;
}
.manya
{
    background-image: url(image/fon2.svg);
    width: 85%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 0;
}
.manya p
{
    margin: 0;
    font-family: "TildaSans","Arial, sans-serif";
    font-weight: bold;
    font-size: 10vh;
}
.manya b
{
    color: #D73423;
}
.manya div
{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.manya div:nth-child(2)
{
    display: flex;
    width: 45%;
    flex-direction: column;
    padding: 0;
}
.manya span
{
    margin-top: 5%;
    font-size: 2.2vh;
    font-family: "TildaSans","Arial, sans-serif";
    font-weight: normal;
}

@font-face {
    font-family: "TildaSans";
    src: url("Fonts/TildaSans/TildaSans-Bold/TildaSans-Bold.woff2") format("woff2"),
    url("Fonts/TildaSans/TildaSans-Bold/TildaSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TildaSans";
    src: url("Fonts/TildaSans/TildaSans-Medium/TildaSans-Medium.woff2") format("woff2"),
    url("Fonts/TildaSans/TildaSans-Medium/TildaSans-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}